In [10]:
myvar2 = "ali"
print(myvar)

ali

In [5]:
myvar2 = "ali"
print(myvar2)

NameError: name 'ali' is not defined

In [23]:
My_Country_Name = "Pakistan"
print(My_Country_Name)

Pakistan

In [25]:
X,Y,Z = "ORANGE","BANANA","APPLE"
print(X,Y,Z)

ORANGE BANANA APPLE

In [2]:
x = y = z = "orange"
print(y)
print(z)

orange
orange

In [4]:
fruits  = ["orange","banana","apple"]
x, y , z = fruits
print(y)
print(z)

banana
apple

In [9]:
x = 12
print(x)
print(type(x))

12
<class 'int'>

In [11]:
y = 1j
print(y)
print(type(y))

1j
<class 'complex'>

In [12]:
z = 20.5
print(z)
print(type(z))

20.5
<class 'float'>

In [14]:
x = 1.0
print(int(x))

1

In [16]:
a = 23
b = 24
c = a+b
print(c)

47

In [17]:
x = 2
y = 3
print(x ** y)

8

In [19]:
x = int(input("Enter a number: "))

KeyboardInterrupt: Interrupted by user

In [22]:
s = 34
s *= 10
print(s)

340

In [24]:
x = 20
y = 20
if(x == y):
    print("x is equal to y")
else:
    print("x is not equal to y")

x is equal to y

In [25]:
x = int(input("Enter a age: "))
if(x > 18):
    print("Qualify for Driving")
else:
    print("Not Qualify for Driving")

Enter a age: 20
Qualify for Driving

In [7]:
age = int(input("Enter a age: "))
Gender = input("Enter a Gender: ")
if age >= 18 or Gender == "Male":
    print("Sit in the right colounm")
elif age >= 18 or Gender == "Female":
    print("Sit in the Left colounm")
else:
    print("gO Outside")

Enter a age: 15
Enter a Gender: Male
Sit in the right colounm

In [13]:
x = 10
y = 50
if not(x > y or y < x):
    print("Show answer")
else:
    print("error")

Show answer

In [15]:
vowels = input("Enter a vowels: ")
if vowels == "a" or vowels == "e" or vowels == "i" or vowels == "o" or vowels == "u":
    print("This is a Vowel")
else:
    print("Not vowel")

Enter a vowels: A
Not vowel

In [19]:
fruits = ["banana","apple","watermelon"]
print("orange" not in fruits)

True

In [4]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
print(len(fruits))

8

In [5]:
thislist = list(("apple","banana","orange"))
print(thislist)

['apple', 'banana', 'orange']

In [6]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
print(fruits[2])

watermelon

In [8]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
print(fruits[-3])

1234

In [9]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
print(fruits[2:5])

['watermelon', 'apple', 'orange']

In [12]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
if "apple" not in fruits:
    print("yes 'apple' in fruits")
else:
    print("error")

error

In [13]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
fruits[1] = "blackcurrant"
print(fruits)

['banana', 'blackcurrant', 'watermelon', 'apple', 'orange', 1234, True, 67.0]

In [14]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
fruits.insert(2,"blackcurrant")
print(fruits)

['banana', 'apple', 'blackcurrant', 'watermelon', 'apple', 'orange', 1234, True, 67.0]

In [15]:
fruits = ["banana","apple","watermelon","apple","orange",1234,True,67.000]
fruits.append("blackcurrant")
print(fruits)

['banana', 'apple', 'watermelon', 'apple', 'orange', 1234, True, 67.0, 'blackcurrant']

In [16]:
fruits = ["banana","apple","watermelon"]
fruits2 = ["apple","orange",1234,True,67.000]
fruits.extend(fruits2)
print(fruits)

['banana', 'apple', 'watermelon', 'apple', 'orange', 1234, True, 67.0]

In [1]:
first_num = 2
second_num = 4
sum = first_num + second_num
print(sum)

6

In [6]:
def add_numbers():
    first_num =  2
    second_num = 4
    total  = first_num + second_num
    print(total)
add_numbers()

6

In [11]:
def add_numbers(first_num,second_num):
    total = first_num + second_num
    print(total)
add_numbers(5,10)

15

In [12]:
def say_names_of_couple(husband_name, wife_name):
    print("The names of the couple are " + husband_name + " and " + wife_name)

say_names_of_couple(husband_name="Bill",wife_name="Zelda")

The names of the couple are Bill and Zelda

In [3]:
def calc_tax(sales_total, tax_rate=.05):
    print(sales_total * tax_rate)
calc_tax(sales_total=101.37)

5.0685

In [4]:
def give_greeting(greeting, first_name):
    print(greeting + ", " + first_name)
give_greeting("Hello there", first_name="Al")

Hello there, Al

In [5]:
def give_greeting(greeting, first_name,flattering_nickname=" the wonder boy"):
    print(greeting + ", " + first_name + flattering_nickname)
give_greeting("Hello there", first_name="Al")

Hello there, Al the wonder boy

In [11]:
customers = {
0: {
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 1: {
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 2: {
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }
# print(customers)
def find_something(dict,inner_dict,target):
    data = dict[inner_dict]
    print(data[target])
    print(dict[inner_dict][target])

find_something(customers,2,"last name")

Somers
Somers

In [1]:
def display_result(winner, score):
    print("The winner was " + winner)
    print("The score was " + score)

display_result(winner="Real Madrid", score="1-0")

The winner was Real Madrid
The score was 1-0

In [2]:
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
    for key, value in other_info.items():
        print(key + ": " + value)
        
display_result(winner="Real Madrid", score="1-0", overtime ="yes", injuries="none")

The winner was Real Madrid
The score was 1-0
overtime: yes
injuries: none

In [1]:
def display_nums(first_num, second_num,*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)

display_nums(100,200,300,400,500)

100
200
(300, 400, 500)

In [5]:
def display_nums(basic_salary,house_rent,**other_benefits):
    print(basic_salary)
    print(house_rent)
    print(other_benefits)
    
display_nums(100,200,overtime = 300 , bonus = 400)
display_nums(100,200,overtime = 300)
display_nums(100,200)

100
200
{'overtime': 300, 'bonus': 400}
100
200
{'overtime': 300}
100
200
{}

In [6]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    print(tax)
    
calc_tax(sales_total=101.37, tax_rate=.05)

5.0685

In [8]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    return tax

sales_tax = calc_tax(sales_total=101.37, tax_rate=.05)
print(sales_tax)

5.0685

In [22]:
def max(num1,num2,num3):
    if num1 > num2:
        return num1
    elif num2 > num3:
        return num2
    else:
        return num3
    
max(34,56,78)

78

In [9]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total + tax_rate
    return tax
sales_tax = calc_tax(sales_total = 1.56 ,tax_rate= 34.56)
print(sales_tax)

36.120000000000005

In [10]:
def add_numbers(first_number, second_number):
    return first_number + second_number

def subtract_numbers(first_number, second_number):
    return first_number - second_number

result_of_adding = add_numbers(1, 2)
result_of_subtracting = subtract_numbers(3, 2)

sum_of_results = result_of_adding + result_of_subtracting
print(sum_of_results)

4

In [14]:
what_to_say = "Hi"
def intro():
    print("ERROR")
# intro()
print(what_to_say)

Hi

In [2]:
def say_something():
    what_to_say = "Hi"
    print(what_to_say)
def now_say_it(what_to_say):
    print(what_to_say)

say_something()

Hi

In [4]:
def say_something():
    what_to_say = "Hi"
    now_say_it(what_to_say)
def now_say_it(content):
    print(content)
say_something()
now_say_it("Hello")

Hi
Hello

In [4]:
customers = {
    "firstname" : "Ali",
    "lastname" : "Khan",
    "address" : "Johar"
}

print(customers)
x = customers["address"]
print(x)

{'firstname': 'Ali', 'lastname': 'Khan', 'address': 'Johar'}
Johar

In [6]:
rankings = {
    5: "Finland", 
    2: "Norway", 
    3: "Sweden",
    7: "Iceland"
}

print(rankings[2])

Norway

In [7]:
rankings = {
    "Finland" : 2, 
    "Norway" : 3, 
    "Sweden" : 4,
    "Iceland" : 5
}

print(rankings["Norway"])

3

In [3]:
things_to_remember = {
     0: "the lowest number",
     "a dozen": 12,
     "snake eyes": "a pair of ones",
     13: "a baker's dozen",
 }
things_to_remember["City"] = "Karachi"
things_to_remember[0] = "the Highest number"
del things_to_remember["a dozen"]
print(things_to_remember)

{0: 'the Highest number', 'snake eyes': 'a pair of ones', 13: "a baker's dozen", 'City': 'Karachi'}

In [7]:
things_to_remember = {
     0: "the lowest number",
     "a dozen": 12,
     "snake eyes": "a pair of ones",
     13: "a baker's dozen",
 }
print(things_to_remember[13])
for each_value in things_to_remember.keys():
    print(each_value)

a baker's dozen
0
a dozen
snake eyes
13

In [8]:
things_to_remember = {
     0: "the lowest number",
     "a dozen": 12,
     "snake eyes": "a pair of ones",
     13: "a baker's dozen",
 }
for each_value in things_to_remember.values():
    print(each_value)

the lowest number
12
a pair of ones
a baker's dozen

In [9]:
print(sales_tax)

5.0685

In [20]:
def hasnain_na(num1, num2, num3):
    if(num1 > num2 and num1 > num2):
        print("Num1 is HIGHEST")
    elif(num2 > num3 and num2 > num3):
        print("Num2 is HIGHEST")
    elif(num3 > num1 and num3 > num2):
        print("Num3 is HIGHEST")
hasnain_na(300, 800, 500)

Num2 is HIGHEST